[Desktop Entry]
Encoding=UTF-8
Name=Link to Organizations
Type=Link
URL=https://dashboard.pantheon.io/users/3b7f10a2-1c3d-4da6-848c-cf9b0018a5f8#organizations
Icon=text-html
